[submodule "themes/next"]
	path = themes/next
	url = https://github.com/M-Adoo/hexo-theme-next.git
[submodule "themes/maupassant"]
	path = themes/maupassant
	url = https://github.com/M-Adoo/maupassant-hexo.git
